
a{
    color: #000000;
    text-decoration: none;
    }
    
    .navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    background: slateblue; /*delete later as its a marker*/
    display: flex;
    cursor: url('Red cursor_resized.png'), crosshair;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
    }
    
    @keyframes show-content {
    
     100% {
    visibility: visible;
    opacity: 1;
    }
    
    
    }
    
    
    
    
    .navbar .logo {
    font-size: 30px;
    font-weight: 700;
    }
    
    
    .navbar ul {
    display: flex;
    
    }
    .navbar ul li {
    list-style: none;
    margin-left: 35px;
    }
    
    .navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
    }
    
    .navbar ul li:hover a,
     .navbar ul li.active a {
    color: #7FFF00;
    }
    
    .home{
    display: flex;
    align-items: center;
    gap: 60px;
    height: 100vh;
    padding: 60px 9% 0;
    color: #ffffff;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.6s;
    }
    
    .home-info h1 {
    font-size: 55px;
    }
    
    .home-info h2 {
    display: inline-block;
    font-size: 32px;
    margin-top: -10px;
    background: slateblue;
    }
    
    .home-info h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #7cf03d;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
    }
    
    
    @keyframes display-text {
    
    
    25%,
    100%{
    display: none;
    }
    
    }
    
    .home-info h2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    border-right: 2px solid #7cf03d;
    color: #7cf03d;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
    }
    
    @keyframes fill-text {
    10%, 100% {
    width: 0;
           }
    
    
    70%,
    90% {
    width: 100%;
        }
    
    }
    
    .home-info p {
    font-size: 16px;
    margin: 10px 0 25px;
    }
    
    .home-info .btn-sci {
    display: flex;
    align-items: center;
    }
    
    .btn {
    display: inline-block;
    padding: 10px 30px;
    background: #7FFF00;
    border: 2px solid #7FFF00;
    border-radius: 40px;
    box-shadow: 0 0 10px #7FFF00;
    font-size: 16px;
    color: #1F242d;
    font-weight: 600;
    transition: .5s;
    }
    
    .btn:hover {
    background: transparent;
    color: #7FFF00;
    box-shadow: none;
    
    }
    .home-info .btn-sci .sci {
    margin-left: 20px;
    }
    .home-info .btn-sci .sci a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7FFF00;
    border-radius: 50%;
    font-size: 20px;
    color: #7FFF00;
    margin: 0 8px;
    transition: .5s;
    }
    
    .home-info .btn-sci .sci a:hover {
    background: #7FFF00;
    color: black;
    box-shadow: 0 0 10px #7FFF00;
    }
    
    .home-img .img-box {
    position: relative;
    width: 32vw;
    height: 32vw;
    background: red;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
     }
    
    .home-img .img-box::before,
     .home-img .img-box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent, transparent, green);
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
    }
    @keyframes rotate-border {
    100%{
    
    transform: rotate(360deg);
    }
    
    }
    .home-img .img-box::after {
    animation-delay: -5s;
    
    
    }
    .home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
    border-radius: 50%;
    border: .1px solid red;
    display: flex;
    justify-content: center;
    overflow: hidden;
    /*z-index: 1;*/
    }
    
    .home-img .img-box .img-item img {
    position: absolute;
    top: 30px;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
    }
    
    .bars-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
    }
    
    .bars-animation .bar {
    width: 100%;
    height: 100%;
    background: black;
    /*border: 2px solid red;*/
    transform: translateY(-100%);
    animation: show-bars .5s ease-in-out forwards;
    animation-delay: calc(0.1s * var(--i));
    }
    
    @keyframes show-bars {
    100% {
        transform: translateY(0%);
    }
    
    
    }
    body{
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background: #1e1e1e;
    }
    .radar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: radial-gradient(circle, #00ff000d, #00ff000d);
    box-shadow: 0 0 50px green;
    overflow: hidden;
    
    }
    
    
    .inner-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
    border: 2px solid #00ff0033;
    border-radius: 50%;
    box-shadow: 0 0 20px #00ff004d;
    position: relative;
    }
    .sweeper {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    background: conic-gradient(#00ff0000 300deg, #27da2700 345deg, #00ff0080 360deg);
    animation: sweeper 2s linear infinite;
    
    }
    .dot{
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: red;/*#00ff0080;*/
    animation: flash 2s ease-in-out infinite;
    }
    
    .dot1{
    top: 30px;
    left: 150px;
    }
    
    .dot2{
    top: 200px;
    left: 100px;
    animation-delay: 1s;
    }
    
    
    @keyframes sweeper{
    
    0%{
    transform: rotate(0deg);
    
    }
     100%{
    transform: rotate(360deg)
    }
    
    }
    
    @keyframes flash{
    0%,20% {
    opacity: 0;
    }
    
    100%{
    opacity: 1;
    }
    
    }